.header {
  padding: 10px 20px 5px 20px;
  background: #f2f2f2;
  border: 1.5px outset gray;
}

.article-header {
  margin: 3rem 0 1rem;
}

.actor-header {
  margin: 1rem 0 1rem;
}

.wrapper {
  margin: 0 0 5rem;
}

.rank-block {
  background-color: black;
  width: 500px;
  height: 500px;
  position: absolute;
  right: -18%;
  bottom: 15px;
  color: black;
}

.score-block {
  background-color: black;
  border-radius: 20px;
  width: 120px;
  height: 60px;
  position: absolute;
  right: -18%;
  bottom: 15px;
  color: black;
}

.score {
  font-size: 200%;
  color: white;
  position: relative;
  left: -1%;
  bottom: -14%;
}

@media (max-width: 1000px) {
  .score-block {
    background-color: black;
    border-radius: 15px;
    width: 90px;
    height: 50px;
    position: absolute;
    right: -18%;
    bottom: 17px;
    color: black;
  }

  .score {
    font-size: 170%;
    color: white;
    position: relative;
    left: -1%;
    bottom: -14%;
  }
}

@media (max-width: 800px) {
  .score-block {
    background-color: black;
    border-radius: 12px;
    width: 80px;
    height: 40px;
    position: absolute;
    right: -18%;
    bottom: 20px;
    color: black;
  }

  .score {
    font-size: 140%;
    color: white;
    position: relative;
    left: -1%;
    bottom: -15%;
  }
}
